/* =========================================
  Project: Ayurvedic
  Authot: Bizberg_themes
  URL: https://themeforest.net/user/bizberg_themes/portfolio
  Created: 1/27/2022
 ========================================= */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@import url(../fonts/material-design-iconic-font.min.css);
/* ========================================= */
/*          Default CSS                      */
/* ========================================= */

@import "_variable.scss";

header,
nav,
section,
article,
aside,
footer {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1240px;
  }
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  font-weight: $fontnormal;
  background: $white;
  color: $dull;
}

// heading
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $fontbold;
  font-family: "Poppins", sans-serif;
  margin: 0 0 1rem;
  color: $dblue;
  line-height: 1.2;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 15px;
}

@media (max-width: 991px) {
  h2 {
    font-size: 28px;
  }
}

p {
  margin-bottom: 0;
}
.default__p p {
  margin-bottom: 1rem;
}
// ordering list

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    margin-bottom: 0px;
    line-height: $fontlineheight;
    color: $dull;
    position: relative;
    display: inline-block;
    padding: 0;
  }
}

ol {
  margin: 0;
  counter-reset: i;
  position: relative;
  li {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: $fontlineheight;
    color: $dull;
    padding-left: 0;
    position: relative;
  }
}
.list-item li {
  display: list-item !important;
}
a {
  color: $green;
  transition: $transition;
  text-decoration: none;
  cursor: pointer;
  &:hover,
  &:focus {
    text-decoration: none;
    color: $lblue;
    transition: $transition;
    outline: none;
  }
}
h3,
h4 {
  a {
    color: $dblue;
  }
}
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: $black;
}

::-webkit-input-placeholder {
  /* Edge */
  color: $dull;
  text-transform: capitalize;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $dull;
  text-transform: capitalize;
}

::placeholder {
  color: $dull;
  text-transform: capitalize;
}
.accordion-button:not(.collapsed) {
  box-shadow: none;
}
img {
  max-width: $size100;
}

.btn {
  position: relative;
  background: $lgreen;
  color: $white;
  padding: 18px 24px;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 #00000021;
  font-size: 15px;
  border: none;
  line-height: 1.4;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  &:hover {
    background: $dblue;
    color: $white;
  }
  &::after {
    content: "\f301";
    font-family: Material-Design-Iconic-Font;
    position: relative;
    top: 2px;
    margin-left: 10px;
    font-size: 20px;
    line-height: 0.5;
  }
  &.btn-na::after {
    display: none;
  }
}
.btn-curve {
  border-radius: 30px;
  padding: 14px 50px;
  text-transform: uppercase;
}
.btn-white {
  background: $white;
  color: $dblue;
}
.btn-white-lb {
  background: $white;
  color: $lblue;
}
.btn-blue {
  background: $dblue;
}
.btn-blue-1 {
  background: #233653;
}
a.bl-link {
  color: $lblue;
  font-size: 12px;
  text-transform: uppercase;
}
// input field

.form-group {
  width: $size100;
  display: inline-block;
  select {
    padding: 10px 20px 10px 35px;
  }
}
.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 15px 20px;
  background: $green;
  color: $white !important;
  &.sh-hover:hover {
    background: $dblue !important;
  }
}
.nice-select.niceSelect {
  background: $sfgrey-2;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #eee;
  padding: 14px 20px;
  height: 55px;
}
.nice-select.niceSelect.open .list {
  border-radius: 5px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="password"],
input[type="tel"],
input[type="date"],
input[type="time"],
textarea,
select,
.form-select {
  font-size: 16px;
  font-weight: $fontnormal;
  background-color: $sfgrey-2;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px 20px;
  color: $dull;
  margin-bottom: 0;
  height: 55px;
  box-shadow: none;
  width: $size100;
  &:focus {
    outline: none;
    transition: all 0.5s ease;
    box-shadow: none;
  }
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
textarea:focus,
select:focus {
  color: $dull;
  background: $sfgrey;
  border-color: #eee;
}

select {
  padding: 8px 20px;
  width: $size100;
  height: inherit;
  option {
    color: $black;
  }
}

textarea {
  border-radius: none;
  resize: vertical;
  height: 120px;
}
.form-control {
  border: none;
  padding: 10px 20px;
}
label {
  display: inline-block;
  color: $dull;
  margin-bottom: 8px;
  font-weight: $fontnormal;
  font-size: 15px;
}
.border-none {
  border: none !important;
}
.before-x::before,
.after-x::after {
  display: none;
}
.bw-2 {
  border-width: 2px !important;
}
.bw-3 {
  border-width: 3px !important;
}
.bc-green {
  border-color: $green !important;
}
.border-light-c {
  border-color: #f1f1f1 !important;
}
.border-light-c1 {
  border-color: #f5f5f5 !important;
}
.border-light-c2 {
  border-color: #ddd !important;
}
.border-bt-dash {
  border-bottom: $borderdashed;
}
// blockquote
blockquote {
  font-size: 14px;
  font-weight: $fontnormal;
  margin-bottom: 15px;
  border: 0;
  padding: 45px 65px;
  line-height: $fontlineheight;
  color: $white;
  margin: 40px 0;
  text-align: center;
  position: relative;
  line-height: 30px;
  background: $dblue;
  &::before {
    content: "\f10d";
    font-family: "fontawesome";
    font-size: 3rem;
    position: relative;
    display: block;
    text-align: center;
    color: $white;
    width: 100%;
    padding-bottom: 15px;
  }
  p {
    margin: 10px 0;
    font-size: 16px;
  }
  button.btn {
    padding: 6px 25px;
    text-transform: capitalize;
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  blockquote {
    padding: 40px;
  }
}
// table format
table > {
  tbody,
  tfoot,
  thead {
    tr {
      td,
      th {
        padding: 10px;
        vertical-align: sub !important;
      }
    }
  }
}

table {
  width: 100%;
  thead {
    tr {
      th {
        border-bottom: none !important;
      }
    }
  }
}

section {
  padding: 100px 0;
  position: relative;
  display: inline-block;
  width: 100%;
}

/*heading title*/
.sc-title-two,
.sc-title-two-white {
  position: relative;
  width: 50%;
  margin: 0 auto 90px;
  h4,
  h2 {
    margin-bottom: 10px;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -25px;
    width: 20%;
    height: 1.5px;
    background-color: $green;
    margin: auto;
  }
}
.sc-title-two-white {
  &::after {
    background-color: $white;
  }
}
.sc-border-left {
  &::after {
    right: inherit;
    width: 10%;
  }
}
.sc-border-none:after {
  display: none;
}

.title-bg,
.title-bg-h4,
.title-bg-h5 {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -0;
    background: $dblue;
    z-index: -1;
  }
}
.title-bg::before {
  height: 36%;
}
.title-bg-h4::before {
  height: 40%;
}
.title-bg-h5::before {
  height: 55%;
}
@media (max-width: 991px) {
  .sc-title-two,
  .sc-title-two-white {
    width: 100%;
    text-align: center;
  }
  .sc-border-left {
    &::after {
      right: 0;
      width: 10%;
    }
  }
  .title-bg-h4::before {
    height: 25%;
  }
}

.form-btn {
  background: #707070;
  padding: 15px 50px;
  color: $white;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}
.sym-btn {
  background: $black;
  padding: 10px 20px;
  color: $white;
  &:hover {
    background: $black;
    color: $white;
  }
}

// Box-Shadow
.bx-shadow {
  box-shadow: $box-shadow;
}

.row.slick-slider {
  margin: 0 -15px;
}
.slider .slick-prev,
.slider .slick-next {
  background: $white;
  border-radius: 50%;
  &::before {
    color: $dblue;
  }
  &:hover {
    background: $dblue;
  }
  &:hover:before {
    color: $white;
  }
}
.slider .slick-prev {
  left: 30px;
}
.slider .slick-next {
  right: 30px;
}

// section background
.sc-bg-right,
.sc-bg-left {
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 70%;
    height: 100%;
    background-color: $dblue;
    z-index: -1;
  }
}
.sc-bg-right.bg-w-50::before,
.sc-bg-left.bg-w-50::before {
  width: 50%;
}
.sc-bg-right::before {
  right: 0;
}
.sc-bg-left::before {
  left: 0;
}
@media (max-width: 991px) {
  .sc-bg-right,
  .sc-bg-left {
    &::before {
      width: 100% !important;
    }
  }
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 999999;
  #status {
    position: fixed;
    content: "";
    display: block;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background: url(../images/loader.svg);
    background-size: cover;
    background-position: center;
    opacity: 1;
    transform: translate(-50%, -50%);
    visibility: visible;
    transition: $transition;
    z-index: 9999999999;
  }
}
/* End Preloader */

// Sidebar Search
.sidebar-search {
  .form-outline {
    flex: 1;
    input {
      border: none;
    }
  }
  button.btn {
    border-radius: 0;
    border: none;
    width: 15%;
    padding: 0;
  }
}
.sidebar-social a {
  color: #fff;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
}

#back-to-top {
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  right: 20px;
  display: none;
  a {
    display: block;
    width: 40px;
    height: 40px;
    background: $green;
    position: relative;
    transition: $transition;
    text-align: center;
    border-radius: 50px;
    &:after {
      position: absolute;
      content: "\f106";
      font-family: "Font Awesome 5 Free";
      font-size: 20px;
      color: $white;
      top: 50%;
      left: 50%;
      z-index: 1;
      font-weight: $fontbold;
      transform: translate(-50%, -50%);
    }
  }
}

// overlay
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: $size100;
  height: $size100;
  background: $dblue;
  transition: $transition;
  opacity: 0.6;
  z-index: -1;
  &.overlay-op1 {
    opacity: 1;
  }
}
.overlay-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: $size100;
  height: $size100;
  background: $dblue;
  transition: $transition;
  opacity: 0.8;
}
.sl-overlay {
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $dblue;
    background-repeat: repeat;
    content: "";
    z-index: -1;
    opacity: 0.8;
  }
  &.darkclr::after {
    background-color: #181d38;
  }
}

.shape_big2 {
  &::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/shape/big_ils_2.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    z-index: -1;
  }
}
// Social icons
.social-links-a {
  li {
    a {
      width: 40px;
      height: 40px;
      display: flex;
      background: #fafafa;
      align-items: center;
      justify-content: center;
      color: $dull;
      border-radius: 50px;
      margin: 0 3px;
      &:hover {
        background: $green;
        color: $white;
      }
    }
  }
  &.square-link {
    li {
      a {
        border-radius: 4px;
        background: $dblue;
        color: $white;
        width: 35px;
        height: 35px;
        &:hover {
          background: $white;
          color: $dblue;
        }
      }
    }
  }
}
.social-links-nl {
  li {
    a {
      font-size: 18px;
      color: $dull;
      margin-right: 10px;
    }
  }
}
.ratings {
  li i {
    font-size: 11px;
    color: #f0ad4e;
  }
}
//search popup
.ct-searchForm {
  display: table;
  z-index: 9999;
  text-align: center;
  transition: all 0.5s ease-in-out;
  background-color: rgba(22, 22, 63, 0.9);
  opacity: 0;
  filter: alpha(opacity=0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  -webkit-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);
}

.ct-searchForm.is-open {
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
  filter: alpha(opacity=100);
}

.ct-searchForm .inner {
  display: table-cell;
  vertical-align: middle;
}

.ct-searchForm .form-group {
  position: relative;
  margin-bottom: 0;
}

.ct-searchForm .form-control {
  background-color: transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
  border: 0 none;
  border-bottom: 2px solid #fff;
  height: auto;
  padding: 15px 35px;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 36px;
}

.ct-searchForm .form-control::-webkit-input-placeholder {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 36px;
}

.ct-searchForm .form-control:-moz-placeholder {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 36px;
}

.ct-searchForm .form-control::-moz-placeholder {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 36px;
}

.ct-searchForm .form-control:-ms-input-placeholder {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 36px;
}

.ct-searchForm .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.ct-searchForm .ct-searchForm-close {
  margin-top: 25px;
  font-size: 25px;
  color: #fff;
  display: inline-block;
}

.ct-searchForm .ct-search-btn {
  position: absolute;
  top: 50%;
  right: 0;
  border: 0 none;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  font-size: 1.5rem;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ct-searchForm--default .form-group {
  position: relative;
  margin-bottom: 0;
}

.ct-searchForm--default .form-control {
  background-color: transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
  border: 0 none;
  border-bottom: 2px solid #fff;
  height: auto;
  padding: 10px 35px 10px 10px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 36px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.ct-searchForm--default .form-control::-webkit-input-placeholder {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 36px;
}

.ct-searchForm--default .form-control:-moz-placeholder {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 36px;
}

.ct-searchForm--default .form-control::-moz-placeholder {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 36px;
}

.ct-searchForm--default .form-control:-ms-input-placeholder {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 36px;
}

.ct-searchForm--default .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.ct-searchForm--default .ct-search-btn {
  position: absolute;
  top: 50%;
  right: 0;
  border: 0 none;
  background-color: transparent;
  color: #e6e6e6;
  font-size: 20px;
  font-size: 2rem;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ct-searchForm--default .ct-search-btn:hover {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .ct-searchForm--default .form-control {
    padding: 15px 75px 15px 35px;
  }
  .ct-searchForm--default .ct-search-btn {
    right: 30px;
  }
}

// Keyframe Effects
@keyframes pulse-white {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale3d(0.75, 0.75, 1);
  }

  to {
    opacity: 0;
    transform: scale3d(1.5, 1.5, 1);
  }
}

// Font size
.fsc-1 {
  font-size: 4.5rem !important;
}
.fsc-2 {
  font-size: 4rem !important;
}
.fsc-3 {
  font-size: 3.5rem !important;
}
.fsc-4 {
  font-size: 3rem !important;
}
.fsc-5 {
  font-size: 2.75rem !important;
}
.fsc-s-1 {
  font-size: 11px !important;
}
.fsc-s-2 {
  font-size: 12px !important;
}
.fsc-s-3 {
  font-size: 13px !important;
}
.fsc-s-4 {
  font-size: 14px !important;
}
// Z-index
.zindex-n1 {
  z-index: -1 !important;
}
.zindex-0 {
  z-index: 0 !important;
}
.zindex-1 {
  z-index: 1 !important;
}
// Colors
.cl-white {
  color: $white !important;
}
.cl-blue {
  color: $dblue !important;
}
.cl-lblue {
  color: $lblue !important;
}
.cl-green {
  color: $green !important;
}
.cl-lgreen {
  color: $lgreen !important;
}
.cl-grey {
  color: $dull !important;
}
.cl-lgrey {
  color: $lgrey !important;
}
.cl-lgrey2 {
  color: $lgrey2 !important;
}
.bg-dblue {
  background: $dblue !important;
}
.bg-lblue {
  background: $lblue !important;
}
.bg-lblue1 {
  background: $lblue1 !important;
}
.bg-green {
  background: $green !important;
}
.bg-ftblue0 {
  background: $ftblue0 !important;
}
.bg-ftblue {
  background: $ftblue !important;
}
.bg-sfgrey {
  background: $sfgrey !important;
}
.bg-sfgrey-2 {
  background: $sfgrey-2 !important;
}
.bg-sfgrey-3 {
  background: $sfgrey-3 !important;
}
.bg-lgreen {
  background: $lgreen !important;
}
.bg-footer-blue {
  background: $footer-blue !important;
}
.bg-fb {
  background: #4267b2 !important;
}
.bg-twitter {
  background: #1da1f2 !important;
}
.bg-pin {
  background: #e60023 !important;
}
.bg-youtube {
  background: #ff0000 !important;
}
.bg-dribble {
  background: #ea4c89 !important;
}
.bg-linkedin {
  background: #0077b5 !important;
}
.bgc-dblue {
  background-color: $dblue !important;
}
.bgc-sfgrey-3 {
  background-color: $sfgrey-3 !important;
}
// margin-top
.mt-1,
.my-1 {
  margin-top: 0.5rem !important;
}
.mt-2,
.my-2 {
  margin-top: 1rem !important;
}
.mt-3,
.my-3 {
  margin-top: 1.5rem !important;
}
.mt-4,
.my-4 {
  margin-top: 2rem !important;
}
.mt-5,
.my-5 {
  margin-top: 2.5rem !important;
}
.mt-6,
.my-6 {
  margin-top: 3rem !important;
}
.mt-7,
.my-7 {
  margin-top: 3.5rem !important;
}
.mt-8,
.my-8 {
  margin-top: 4rem !important;
}
.mt-9,
.my-9 {
  margin-top: 4.5rem !important;
}
.mt-10,
.my-10 {
  margin-top: 5rem !important;
}
.mt-11,
.my-11 {
  margin-top: 8rem !important;
}
// margin-top N
.mt-n1 {
  margin-top: -1rem !important;
}
.mt-n2 {
  margin-top: -2rem !important;
}
.mt-n3 {
  margin-top: -3rem !important;
}
.mt-n4 {
  margin-top: -4rem !important;
}
.mt-n5 {
  margin-top: -5rem !important;
}
.mt-n6 {
  margin-top: -6rem !important;
}
.mt-n7 {
  margin-top: -7rem !important;
}
// margin-bottom
.mb-1,
.my-1 {
  margin-bottom: 0.5rem !important;
}
.mb-2,
.my-2 {
  margin-bottom: 1rem !important;
}
.mb-3,
.my-3 {
  margin-bottom: 1.5rem !important;
}
.mb-4,
.my-4 {
  margin-bottom: 2rem !important;
}
.mb-5,
.my-5 {
  margin-bottom: 2.5rem !important;
}
.mb-6,
.my-6 {
  margin-bottom: 3rem !important;
}
.mb-7,
.my-7 {
  margin-bottom: 3.5rem !important;
}
.mb-8,
.my-8 {
  margin-bottom: 4rem !important;
}
.mb-9,
.my-9 {
  margin-bottom: 4.5rem !important;
}
.mb-10,
.my-10 {
  margin-bottom: 5rem !important;
}

// Padding-top
.pt-1,
.py-1 {
  padding-top: 0.5rem !important;
}
.pt-2,
.py-2 {
  padding-top: 1rem !important;
}
.pt-3,
.py-3 {
  padding-top: 1.5rem !important;
}
.pt-4,
.py-4 {
  padding-top: 2rem !important;
}
.pt-5,
.py-5 {
  padding-top: 2.5rem !important;
}
.pt-6,
.py-6 {
  padding-top: 3rem !important;
}
.pt-7,
.my-7 {
  padding-top: 3.5rem !important;
}
.pt-8,
.my-8 {
  padding-top: 4rem !important;
}
.pt-9,
.my-9 {
  padding-top: 4.5rem !important;
}
.pt-10,
.my-10 {
  padding-top: 5rem !important;
}
.pt-14,
.my-14 {
  padding-top: 7rem !important;
}

// Padding-bottom
.pb-1,
.py-1 {
  padding-bottom: 0.5rem !important;
}
.pb-2,
.py-2 {
  padding-bottom: 1rem !important;
}
.pb-3,
.py-3 {
  padding-bottom: 1.5rem !important;
}
.pb-4,
.py-4 {
  padding-bottom: 2rem !important;
}
.pb-5,
.py-5 {
  padding-bottom: 2.5rem !important;
}
.pb-6,
.py-6 {
  padding-bottom: 3rem !important;
}
.pb-7,
.my-7 {
  padding-bottom: 3.5rem !important;
}
.pb-8,
.my-8 {
  padding-bottom: 4rem !important;
}
.pb-9,
.my-9 {
  padding-bottom: 4.5rem !important;
}
.pb-10,
.my-10 {
  padding-bottom: 5rem !important;
}
.pb-14,
.my-14 {
  padding-bottom: 7rem !important;
}
.pb-20,
.my-20 {
  padding-bottom: 10rem !important;
}

// Padding-Left
.pl-0 {
  padding-left: 0 !important;
}
.pl-1 {
  padding-left: 0.5rem !important;
}
.pl-2 {
  padding-left: 1rem !important;
}
.pl-3 {
  padding-left: 1.5rem !important;
}
.pl-4 {
  padding-left: 2rem !important;
}
.pl-5 {
  padding-left: 2.5rem !important;
}

// Padding-Right
.pr-0 {
  padding-right: 0 !important;
}
.pr-1 {
  padding-right: 0.5rem !important;
}
.pr-2 {
  padding-right: 1rem !important;
}
.pr-3 {
  padding-right: 1.5rem !important;
}
.pr-4 {
  padding-right: 2rem !important;
}
.pr-5 {
  padding-right: 2.5rem !important;
}
@media (min-width: 991px) {
  .p-lg-0 {
    padding: 0 !important;
  }
  .pr-lg-0 {
    padding-right: 0 !important;
  }
  .pl-lg-0 {
    padding-left: 0 !important;
  }
  .pr-lg-5 {
    padding-right: 2.5rem !important;
  }
  .w-lg-75 {
    width: 75% !important;
  }
  .w-lg-50 {
    width: 50% !important;
  }
  .border-lg-0 {
    border: none !important;
  }
}
@media (max-width: 991px) {
  .bg-md-white {
    background: $white !important;
  }
  .mb-xs-0 {
    margin-bottom: 0 !important;
  }
  .mt-xs-3 {
    margin-top: 1.5rem !important;
  }
  .mt-xs-4 {
    margin-top: 2rem !important;
  }
  .mb-xs-3 {
    margin-bottom: 1.5rem !important;
  }
  .mb-xs-4 {
    margin-bottom: 2rem !important;
  }
  .flex-mxl-column-reverse {
    flex-direction: column-reverse;
  }
}
